<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Öğrenci Belgesi</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            min-height: 100vh;
        }

        .card {
            min-height: 100vh;
        }
    </style>
</head>

<body>

    <div class="container-fluid mx-auto">
        <div class="card mx-auto">
            <div class="card-header text-center">
                <strong>Ders Programı</strong>
            </div>
            <div class="card-body">
                <div class="container  mx-5">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead class="bg-dark text-white">
                                <tr>
                                    <th style="width:150px;min-width: 150px;"></th>
                                    <th style="width:150px;min-width: 150px;">9:30</th>
                                    <th style="width:150px;min-width: 150px;">10:20</th>
                                    <th style="width:150px;min-width: 150px;">11:10</th>
                                    <th style="width:150px;min-width: 150px;">12:50</th>
                                    <th style="width:150px;min-width: 150px;">13:40</th>
                                    <th style="width:150px;min-width: 150px;">14:30</th>
                                    <th style="width:150px;min-width: 150px;">15:20</th>
                                    <th style="width:150px;min-width: 150px;">16:10</th>
                                    <th style="width:150px;min-width: 150px;">17:00</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var gelenvize in ViewBag.vizeler)
                                {   
                                    <tr>
                                        <td style="width:150px;min-width: 150px;">@gelenvize.SinavTarihi</td>
                                        @for (int i = 47; i < 56; i++)
                                        {
                                            if(gelenvize.SinavSaatiID==i)
                                            {
                                                <td style="width:150px;min-width: 150px;">@gelenvize.DersKodu<br /> @gelenvize.DersAdi</td>
                                            }
                                            else
                                            {
                                                <td style="width:150px;min-width: 150px;"></td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        @functions {
            string GetSaat(int index)
            {
                switch (index)
                {
                    case 47:
                        return "9:30";
                    case 48:
                        return "10:20";
                    case 49:
                        return "11:10";
                    case 50:
                        return "12:50";
                    case 51:
                        return "13:40";
                    case 52:
                        return "14:30";
                    case 53:
                        return "15:20";
                    case 54:
                        return "16:10";
                    case 55:
                        return "17:00";
                    default:
                        return "";
                }
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>