
.top_menu {
    background-color: #333;
    display: flex;
    height: 60px;
    z-index: 1001;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.top_menu div {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.filter_menu {
    position: fixed;
    background-color: #2c3e50;
    top: 50px;
    left: 0;
    padding: 15px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    box-sizing: border-box;
    z-index: 100;
}

    .filter_menu select {
        cursor: pointer;
    }


.sidebar-menu {
    list-style: none;
    padding: 0;
}

.nav-item {
    position: relative;
}

.nav-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s;
}

    .nav-link:hover {
        background-color: #34495e;
        color: #ffffff;
    }

.icon-holder {
    margin-right: 10px;
}

.title {
    display: inline-block;
}

.arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-menu {
    display: none;
    background-color: #34495e;
}

    .dropdown-menu li {
        padding: 10px 0;
    }

.sidebar-link {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

    .sidebar-link:hover {
        background-color: #2c3e50;
    }


.nav-item:hover .dropdown-menu {
    display: block;
}
